@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    scroll-behavior: smooth;
    ;
    
}
body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden
    
}
/*Header start*/
header{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #ffffff;
    position: absolute;
    padding: 0px 15px;
    z-index: 10;
    position: fixed;
}
header .menu-btn {
    display: none;
}
.header-nav{
    width: 75%;
    height: 60px;
}
.black{
    background-color:#ffffff;
    box-shadow: 0 0 5px #393939;
    
}
.black .nav ul li a{
    color: #000000;
}
.row{
    width:100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.logo img{
    width: 60px;
    border-radius: 50%;
    background-color: #ffffff;
}
.nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.nav ul li{
    margin-left: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    list-style: none;
}
header .nav ul li a{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    line-height: 60px;
    position: relative;
} 
header .nav ul li a::before{
    content: "";
    width: 0%;
    height: 3px;
    background-color: #ffac41;
    position: absolute;
    top: 150%;
    right: 0; 
    transition: all 0.8s ease;
    
}
header .nav ul li a.active::before{
    width: 100%;
    left: 0;
}
header .nav ul li a:hover::before{
    width: 100%;
    left: 0;
}
.hamburger{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 40px;
    background-color: #ffac41;
    color: #ffffff;
    border-radius: 50%;
    line-height: 45px;
    font-size: 18px;
    text-align: center;
    display: none;
    cursor: pointer;
    top: 6px;
}
.hamburger .fas:focus{
    background-color: none;
}
/*Header end*/
/*Section1 start*/
.section1{
    min-width: 100vw;
    min-height: 100vh;
    background: url(../images/Background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.content{
    width: 75%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    position: relative;
}
.home{
    width: 50%;
    justify-content: center;
    height: auto;
    top: 50%;
    left: 0;
    border-left: 5px solid #ffac41;
}
.home-text{
    width: 80%;
    height: 100%;
    margin: auto;
    letter-spacing: 2px;
}
.home-text h2{
    font-size: 30px;
    color: #ffac41;
    font-weight: 600;
}
.home-text h6{
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;

}
.home-text h1{
    font-size: 38px;
    color: #ffac41;
    font-weight: 600;

}
.home-text h3{
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;

}
.home-text h3 span{
    font-size: 24px;
    text-transform: uppercase;
    color: #ffac41;
}
.home-text .button-cv{
    width: 50%;
    text-align: center;
    margin-top: 30px;
}
.home-text .button-cv a{
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}
.home-text .button-cv a:hover{
    background-color: #ffffff;
    color: #000000;
}
/*Section1 end*/
/*Section2 start*/
.section2{
    max-width: 100vw;
    min-height: 70vh;
}
.content2{
    max-width: 90vw;
    min-height: 70vh;
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    
}
.about{
    max-width: 95%;
    height: 80%;
    margin-top: 5%;
    background-color: #323232;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px #000;
    margin: 5% auto;
}
.heading{
    max-width: 90%;
    height: 20%;
    background-color: #ffffff;
    margin: auto;
}
.heading h1{
    color: #393939;
    font-size: 40px;
    font-weight: 600;
    margin-left: 10%;
    position: relative;
}
.heading h1::before{
    content: "";
    width: 15%;
    height: 4px;
    background-color: #ffac41;
    position: absolute;
    left: 0;
    bottom: 0;
    
}
.information{
    max-width: 90%;
    height: auto;
    background-color: #ffffff;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
}
.image{
    max-width: 30%;
    height: 90%;
    margin-top: 10px;
    float: left;
}
.image img{
    max-width:295px;
    max-height: 350px;
    height: 100%;
}
.text{
    min-width: 70%;
    min-height: 90%;
    background-color:#dee3e2 ;
    margin: 10px;
}
.text h4{
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    color: #393939;
    text-align: center;
}
.text h4 span{
    font-size: 16px;
    font-weight: 700;
    color: #ffac41;
    text-transform: uppercase;
}
.btnScroll{
    width: 45px;
    height: 45px;
    background-color: #ffac41;
    position: fixed;
    top: 95%;
    left:-90%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 102;
}
.btnScroll .fas{
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    line-height: 45px;
    align-items: center;
    margin-left: 9px;
    position: fixed;
    z-index: 103;
}
.btnScroll:hover{
    cursor: pointer;
}
/*Section2 end*/
/*Section3 start*/
.section3{
    max-width: 100vw;
    min-height: 90vh;
    background-color: #dee3e2;
}
.content3{
    max-width: 80%;
    height: 100%;
    margin: auto;
    justify-content: space-around;
}
#heading2{
    max-width: 100%;
    height: 8%;
    background-color: #dee3e2;
    align-items: center;
    padding: 40px;
}
.box-content{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box{
    flex: 0 0 35%;
    margin-bottom: 30px;
    background-color: #ffffff;
    border: 3px solid #ecfbfc;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.box::before{
    content: '';
    width: 20%;
    height: 4px;
    position: absolute;
    background-color: #ffac41;
    bottom: 0;
    left: 40%;
}
.box:hover::before{
    width: 100%;
    left: 0%;
    right: 0%;
    transition: all 0.6s ease-in;
}
.img{
    width: 60px;
    height: 60px;
    background-color: #ffac41;
    border-radius: 50%;
    margin: 30px auto 40px;
}
.img .fas{
    font-size: 25px;
    color: #ecfbfc;
    line-height: 60px;
}
/*Section3 end*/
/*Section4 start*/
.section4{
    width: 100vw;
    height: 100vh;
}
.content4{
    max-width: 80%;
    height: 100%;
    margin: auto;
}
#heading3{
    max-width: 100%;
    height: 8%;
    align-items: center;
    padding: 20px;
}
.sckills{
    max-width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.portfolio{
    max-width: 100%;
    height: 55%;
}
.sckills-text{
    width: 30%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.sckills-text h4{
    color: #393939;
    font-size: 30px;
    font-weight: 600;
    margin-left: 10%;
    top: 35%;
    position: relative;
}
.sckills-text h4::before{
    content: "";
    width: 25%;
    height: 2px;
    background-color: #ffac41;
    position: absolute;
    left: auto;
    bottom: 0;
    text-align: center;
}
.sckills-bar{
    width: 70%;
    height: 100%;
}
.sckills-bar h6{
    font-size: 14px;
    font-weight: 600;
    color: #393939;
}
.sckills-bar-percent{
    background-color: #ffac41;
    flex: 0 0 70%;;
    margin: 10px;
    height: 6px;
    position: relative;
}
.sckills-bar-percent span{
    font-size: 12px;
    font-weight: 600;
    color: #393939;
    position: absolute;
    right: 0;
    top: -20px;
}
.portfolio-text{
    width: 100%;
    height: 20%;
}
.portfolio-text h4{
    color: #393939;
    font-size: 30px;
    font-weight: 600;
    top: 35%;
    position: relative;
    text-align: center;
}
.portfolio-text h4::before{
    content: "";
    width: 10%;
    height: 2px;
    background-color: #ffac41;
    position: absolute;
    left: auto;
    bottom: 0;
    text-align: center;
}
.portfolio-gallery{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
}
.box2{
    flex: 0 0 45%;
    background-color: #ffffff;
    box-shadow: 0 0 5px #323232;
    border-radius: 5px;
    position: relative;
    margin-bottom: 30px;
}
.box2 img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.box2 #image2{
    width: 50%;
    height: 30%;
    margin-top: 30%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
}
.box2-cover{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(0,0,0, .8);
    opacity: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.box2-cover:hover{
    opacity: 1;
}
.box2 .fas{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #ffac41;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    z-index: 99;
    cursor: pointer;
    justify-content: center;
}
.box2 p{
    font-size: 20px;
    font-weight: 600;
    color: #ffac41;
    text-align: center;
    justify-content: center;
}
/*Section4 end*/
/*Lighbox*/
.lightbox{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .8);
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.show{
    display: flex;
}
.hide{
    display: none;
}
.lightbox-close{
    width: 40px;
    height: 40px;
    background-color: #ffac41;
    text-align: center;
    align-items: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 40px;
    top: 20px;
    cursor: pointer;
}
.lightbox img{
    max-width: 100%;
    max-height: 80%;
    display: block;
}
/*Lighbox*/
/*Contact*/
.section5{
    width: 100vw;
    min-height: 50vh;
    background-color: #393939;
}
.content5{
    width:80%;
    height: 50vh;
    background-color: #393939;
    margin: auto;
    box-sizing: border-box;
}
#heading4{
    width: 100%;
    height: 25%;
    box-sizing: border-box;
    background-color: #393939;
}
#heading4 h1{
    color: #ffffff;
}
.adress{
    width: 60%;
    height: 40%;
    margin: auto;
    box-sizing: border-box;
}
.adress fieldset{
    border: 2px solid #ffac41;
    border-radius: 5px;
}
.adress legend{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: #ffffffff;
}
.adress h6{
    font-size: 14px;
    color: #ffffffff;
}
.social{
    width: 30%;
    height: 35%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin: auto;
}
.button-f, .button-i{
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 20px #ffffffff;
    border: 2px solid #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    outline: none;
}
.button-f i, .button-i i{
    width: 30px;
    height: 30px;
    line-height: 35px;
    color: #393939;
    font-size: 30px;
    text-align: center;
}
.button-f:hover, .button-i:hover{
    box-shadow: 0 0 20px #ffac41;
    cursor: pointer;
}
/*Contact*/
@media(max-width:1260px){
    header{
        width: 100vw;
        background-color: #000000;
    }
    .home-text .button-cv{
        width: 60%;
    }
    .home-text .button-cv a{
        font-size: 10px;
    }
    .portfolio-gallery{
        display: inline-block;
    }
    .section4{
        height: auto;
    }
}
@media(max-width:960px){

    .hamburger{
        display: inline;
    }
    .nav{
        position: absolute;
        top: 60px;
        left: 0;
        width: 100vw;
        background-color: rgba(0,0,0, .6);
        display: none;
    }
    .nav.show{
        display: block;
    }
    .black .nav{
        background-color: #ffffff;
    }
    .nav ul{
        display: inline-block;
    }
    .nav ul li{
        top: 60px;
    }
    .black .nav ul li a{
        color: #000000;
        margin:auto;
    }
    .home-text .button-cv{
        width: 90%;
    }
    .home-text .button-cv a{
        font-size: 8px;
    }
    .home-text h1{
        font-size: 36px;
    }
    .image{
        max-width:100%;
        height: 90%;
        margin-top: 10px;
        float: left;
    }
    .box-content{
        display: inline-block;
    }
}
@media(max-width:768px){
    .sckills{
        width: 100%;
        display: inline-block;
    }
    .btnScroll{
        top: 90%;
        width: 35px;
        height: 35px;
    }
    .btnScroll .fas{
        font-size: 20px;
        line-height: 35px;
    }
    .sckills-text{
        width: 100%;
        height: 30%;
    }
    .sckills-bar{
        width: 100%;
        height: 70%;
    }
    .section5{
        height: 70vh;
    }
    .social{
        margin-top: 50px;
    }
    .adress{
        margin-top: 20px;
    }
}
@media(max-width:460px){
    .logo img{
        width: 40px;
    }
    .image img{
        width: 200px;
    }
    .home-text{
        width: 120%;
        margin-left: 10px;
    }
    .home-text .button-cv a{
        font-size: 8px;
        padding: 12px;
    }
    .adress{
        width: 100%;
    }
    .social{
        width: 100%;
    }
    .heading h1{
        font-size: 30px;
    }
    .btnScroll{
        width: 40px;
        height: 40px;
    }
    .btnScroll .fas{
        font-size: 20px;
        line-height: 40px;
        margin-left: 11px;
    }
}